<p>
  This is a experiment with the principal reason is to learn about Angular, RxJs and obviously 
  now the time that a series will take to complete in our daily life. Enjoy it. 
</p>
<h1>Features(🐛bugs to fix🐛) for the next release:</h1>

<ul>
  <li><h2>enable for one click the real time</h2> at this moment the user need to double click the image to get real time for that series</li>
  <li>Add ratings for the series</li>
  <li>Add onProcess logo for the request and response</li>
  <li>Include a message error for the NaN in some results</li>
</ul>

<h1>Features for the future release:</h1>

<ul>
  <li><h2>Create some filters for time in Weeks or even Months</h2></li>
  <li><h2>show more kinds of scenarios for the time, like having a kid or procrastination mode</h2></li>
</ul>

<p>
  All kind of help is open, if you want to contact me you can dm in Twitter(<a href="https://twitter.com/9javi4">@9javi4</a>) 
  or if you want to know more about the code <a href="https://github.com/javilag/ngImdbCounter"> this is the repo. </a>
</p>