.mat-form-field-ripple {
    background-color: #F5DE50 !important;
}

.mat-focused .mat-form-field-label {
    color: rgb(68, 64, 5) !important;
}

.gray {
    color: #DBA506;
    margin: auto;
    width: 60%;
    padding: 0px;
}
.large {
    font-size: 2em;
}
.example-full-width {
    width: 100%;
    margin: auto;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background: rgb(238, 238, 238);
        padding: 2em;
        border-radius: 4px;
        margin-bottom: 7px;
        grid-template-columns: 60px auto;

        p {
            font-weight: bold;
            margin-left: 20px;
            
            div{
                margin: auto;
                width: 50%;
                border: 3px solid green;
                padding: 10px;
            }
        }

    }
}

.coverImage {
    cursor: pointer;
    width: 100%;
    padding: 0px;
    img {
        border-radius: 20%;
        width: 80px;
    }

    p {
        display: inline-block;
        vertical-align: top;
    }
}
